# slicing

In [ ]:
#Dictionary

In [1]:
city = {1:"Karachi",2:"Multan",3:"Lahore"}

In [3]:
print(city)

{1: 'Karachi', 2: 'Multan', 3: 'Lahore'}

abc = [1,5,8,6,78,25,39]

In [ ]:
jub hum slicing karty hn orinal baki rehta hay copy bun kar result ata hay

In [2]:
abc[2:4] l

[8, 6]

In [ ]:
start of slincing end of slicing

In [3]:
abc[3:]

[6, 78, 25, 39]

In [4]:
abc[:6] ending point

[1, 5, 8, 6, 78, 25]

In [6]:
abc[::1]  start say end thk sary num aayen

[1, 5, 8, 6, 78, 25, 39]

In [7]:
abc[::2]

[1, 8, 78, 39]

In [8]:
abc[-5:-1] reverse me minus me value deein gay or 1 say start hoga

[8, 6, 78, 25]

In [9]:
abc[-1:-5]

[]

In [ ]:
reverse chalta nhi hay reverse chalanay k liye minus me value dobara deein gay

In [10]:
abc[-1:-5:-1]

[39, 25, 78, 6]

# chapter 20 Tupples

In [ ]:
tupple or list same kam krty hn tupple change nhi hosakta us ki value replace nhi hosakti list ki tarah koi value insert karani hay nhi hosakti data ko manuplate nhi karaya jasakta list mutibal hay tupple immutible hay

In [15]:
#tupple are immutable
mytupple = (3,4,5,6,7)

In [16]:
len(mytupple)

5

In [19]:
type(mytupple)

tuple

In [17]:
mytupple[4]

7

In [20]:
del mytupple[0]

TypeError: 'tuple' object doesn't support item deletion

In [18]:
mytupple[2:4]

(5, 6)

In [ ]:
#all slicing rules of list are also applied to tupples a

In [ ]:
#packing and unpacking in list and tupples

In [24]:
a = ("asad", "fahad", "asma", "hina")
#packing

In [25]:
w,x,y,z = a

In [26]:
w

'asad'

In [27]:
x

'fahad'

In [28]:
y

'asma'

In [29]:
z

'hina'

In [30]:
rectangle=[100,200]     "list packing"

In [31]:
height , weight = rectangle

In [32]:
height

100

In [33]:
weight

200

In [ ]:
tupple mein value change mhi hoti
list mein value change hoti hay

# chapter for loops

In [ ]:
mutiple time thk agr hame koi kam karna hay tou hum loop karty hein
loop ka mtlb hay up and dowm

In [35]:
#task:print your name ten times
print("ayesha")
print("ayesha")
print("ayesha")
print("ayesha")
print("ayesha")
print("ayesha")
print("ayesha")
print("ayesha")
print("ayesha")
print("ayesha")

ayesha
ayesha
ayesha
ayesha
ayesha
ayesha
ayesha
ayesha
ayesha
ayesha

In [ ]:
exicute hony me time bht ziada lagta hay time complicsity ziada hay code complicity kum hay

In [ ]:
code ko reduce karnay jarahy hein

In [37]:
for a in range(10):
    print(a,"Ayesha Gul")

0 Ayesha Gul
1 Ayesha Gul
2 Ayesha Gul
3 Ayesha Gul
4 Ayesha Gul
5 Ayesha Gul
6 Ayesha Gul
7 Ayesha Gul
8 Ayesha Gul
9 Ayesha Gul

In [ ]:
"har bar body ko exicute karay ga  loop ka ander"

In [38]:
for b in range(15):
    print(b,"Ayesha Gul")

0 Ayesha Gul
1 Ayesha Gul
2 Ayesha Gul
3 Ayesha Gul
4 Ayesha Gul
5 Ayesha Gul
6 Ayesha Gul
7 Ayesha Gul
8 Ayesha Gul
9 Ayesha Gul
10 Ayesha Gul
11 Ayesha Gul
12 Ayesha Gul
13 Ayesha Gul
14 Ayesha Gul

In [39]:
for b in range(2,5):
    print(b,"Ayesha Gul") staring point and ending point dono btaya hum nay

2 Ayesha Gul
3 Ayesha Gul
4 Ayesha Gul

In [42]:
for b in range(1,10,2):       odd number
    print(b,"Ayesha Gul")

1 Ayesha Gul
3 Ayesha Gul
5 Ayesha Gul
7 Ayesha Gul
9 Ayesha Gul

In [41]:
for b in range(0,10,2):      even number
    print(b,"Ayesha Gul")     farward

0 Ayesha Gul
2 Ayesha Gul
4 Ayesha Gul
6 Ayesha Gul
8 Ayesha Gul

In [3]:
my_list = ["ayesha", "sana", "farah","Nimra"]
for i in my_list:
    print(i)

ayesha
sana
farah
Nimra

In [7]:
#write a code for only even number?
for a in range(1,21):
    if a%2==0:#2 4 6 8 10 12 14 16 18 20
        print(a)

2
4
6
8
10
12
14
16
18
20

In [11]:
for c in range(1,41):
     if c%4==0:
        print(c)

4
8
12
16
20
24
28
32
36
40

In [3]:
for a in range (1 ,11):
    if a%2!=0:#1.3.5.7.9.11
        print(a)

1
3
5
7
9

In [11]:
#write a program to print odd number between 1 -20?
for a in range(1,20):
    if a%2!=0: #1 3 5 7 9 11 13 15 17 19#!= not equal
        print(a)

1
3
5
7
9
11
13
15
17
19

In [13]:
#list print by loop(for)
name = ["farhad","Syed Osama","Haris AHmed","USama Fida"]#list
for x in name:#loop 
    print(x)

farhad
Syed Osama
Haris AHmed
USama Fida

In [14]:
#tuples print by loop(for)
tuples = (1,5,6,7)
for x in tuples:
    print(x)

1
5
6
7

In [15]:
#dictionary print by loop
dic = {"One":1,"Two":2}
for x in dic:
    print(x)

One
Two

In [14]:
dic = {"one","two"}
for x in dic:
    print(x)

one
two

In [21]:
#simple print
for y in range(1,11):#range 1 -10
    print("{} x {} = {}".format(2,y,y*2))#formt
        #{2}x{1}={2}

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [23]:
for c in range(1):
    for d in range(1,11):
        print("{} x {} = {}".format(6,d,d*6))

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [23]:
for b in range(2,4):#tabel 2 , 3 4
    for a in range(1,11):#table start range 1-10
        print("{} x {} = {}".format(b,a,b*a))#format key is used tow write coder own syntax

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [2]:
for b in range (2,4):
    for a in range(1,11):
        print("{} x {} = {}".format(b,a,a*b))

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [ ]:
list k ander jitny b member mojood houn gay wo sary aik aik kar k varaiable me aayen gay

In [46]:
my_num = [2, 4, 5, 8, 10]
for i in my_num:
    print(i *2)

4
8
10
16
20

In [ ]:
agr output b list ki faom me chahye

In [48]:
my_num = [2, 4, 5, 8, 10]
my_new_list = []
for i in my_num:
    my_new_list.append(i*2)
print(my_new_list)

[4, 8, 10, 16, 20]

In [26]:
my_num = [3,6,9,12,15,18,21,24,27,30]
my_new_list =[]
for i in my_num:
    my_new_list.append(i*3)
print(my_new_list)

[9, 18, 27, 36, 45, 54, 63, 72, 81, 90]

In [49]:
for i in range(21):
    print(i)
    if i ==20:
        print(i*2)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
40

In [50]:
for i in range(21):
    print(i)
    if i ==20:
        print(i*2)

0
1
2
3
4
5
6
7
8
9
10
20
11
12
13
14
15
16
17
18
19
20

In [32]:
for i in range(6):
    print(i)
    if i ==3:
        print(i*2)

0
1
2
3
6
4
5

In [52]:
for i in range(7):
    print(i)
    if i ==3:
        print(i*2)

0
1
2
3
6
4
5
6

In [33]:
for i in range(8):
    print(i)
    if i ==5:
        print(i*2)

0
1
2
3
4
5
10
6
7

In [ ]:
#break
#continue
#pass

In [54]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [ ]:
loop ko darmiyan me rokny k liye break ko use karty hein

In [58]:
for i in range(9):
    if i == 3:
         break
    print(i)

0
1
2

In [59]:
for i in range(9):
    if i == 3:
         continue      skip 3
    print(i)

0
1
2
4
5
6
7
8

In [ ]:
continue kya karta hay jb wo condition aaye gi us condition par body exicite nhi karay gi

In [8]:
for i in range(5):
     pass

In [ ]:
#take input from user and print table
#of that number in the following format
#2  x 1 = 2

In [ ]:
table= int(input("enter a table num:"))
for i range(1,11):
    print()

In [65]:
table= int(input("Enter a table num:")) 
for i in range(1 ,11):
    print(f"{table} x {i} = {table * i}")

Enter a table num:2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [67]:
for a in "pakistan"
  print(a)

p
a
k
i
s
t
a
n

In [74]:
for a in "pakistan":
    for b in range(5):
        print(a , b)

p 0
p 1
p 2
p 3
p 4
a 0
a 1
a 2
a 3
a 4
k 0
k 1
k 2
k 3
k 4
i 0
i 1
i 2
i 3
i 4
s 0
s 1
s 2
s 3
s 4
t 0
t 1
t 2
t 3
t 4
a 0
a 1
a 2
a 3
a 4
n 0
n 1
n 2
n 3
n 4

In [4]:
f_name = ["ayesha","gul","zebi", "bro", "cat"]
l_name = ["zzz", "girl", "sun"]
full_name = []
  for f in f_name:
    for l in l_name:
    full_name.append(f + " " + l )
full_name

IndentationError: unexpected indent (<ipython-input-4-508857b29228>, line 4)

In [ ]:
chapter 23 getting information from user

In [ ]:
chapter 24 #changing case

In [80]:
"pakistan".upper()

'PAKISTAN'

# string slicing

In [82]:
sl_str = " pakistan zindabad"
len (sl_str)

18

In [83]:
sl_str[5:11]

'stan z'

In [84]:
sl_str[5:]

'stan zindabad'

In [ ]:
#chapter 25 dictionaries

# Dictinories
work on key key value pair

In [5]:
#defintion:
adict = []

In [6]:
adict = {}

In [7]:
type(adict)

dict

In [8]:
len(adict)

0

In [10]:
#addind value of dictiona
adict['name'] = "hamza khan"
adict['age'] = 34
adict['contact'] = 12345

In [13]:
print(adict['name'])
print(adict['age'])
print(adict['contact'])

hamza khan
34
12345

In [108]:
bDict ={'city': 'khi',  'pop': '30M'} 
bDict

{'city': 'khi', 'pop': '30M'}

In [113]:
bDict ={'city': 'khi',  'pop': '30M' ,  ' city': 'lahore'} 
bDict 
         key    value

{'city': 'khi', 'pop': '30M', ' city': 'lahore'}

In [114]:
bDict["helo"]=123456778
bDict[100]="hundred"
bdict

NameError: name 'bdict' is not defined

In [ ]:
#key ()
#values()
#items()

In [46]:
key = {'city': "khi", "pop": "30m", 'city': 'lahore'}
print(key)

{'city': 'lahore', 'pop': '30m'}

In [51]:
del key['pop']
key

KeyError: 'pop'

In [52]:
key = {'city': "khi", "pop": "30m", 'city': 'lahore':123456767,}
dictkey

SyntaxError: invalid syntax (<ipython-input-52-a8c7c9bdf7d2>, line 1)

In [53]:
for k in adict.keys():
    print(key)

In [ ]:
w3schore  website

In [ ]:
chapter 30 , 31 , 32, 33.34 ,

# 34  creating a list of dictionaries

In [122]:
eklist = [23,45, 6,{"fruit":"apple","food":"biryani"}]

In [123]:
eklist[3]

{'fruit': 'apple', 'food': 'biryani'}

In [125]:
eklist[3]['food']

'biryani'

In [126]:
"food" in adict

False

In [127]:
"age" in adict

False

In [ ]:
smart git download karna hay next class mein student version download karna hay