# variables

In [38]:
name = 'ayesha'
print  (name)

ayesha

In [9]:
my_first_school_name = 'nasra'
my_first_school_name

'nasra'

In [10]:
name = 123
type(name)

int

In [11]:
a = 2
b =3
a+b

5

In [12]:
a//b

0

In [13]:
a/b

0.6666666666666666

In [14]:
10//3

3

In [16]:
c = 10
b = 3
c % b

1

In [18]:
c + 3

6

In [19]:
c

3

In [20]:
c = c+3
c

6

In [26]:
c =c+3

In [27]:
c=+5
c

5

In [29]:
c-=5
c

-5

In [31]:
c//=3
c

-1

In [33]:
3**2

9

In [39]:
a>b

False

In [40]:
a<=b

True

In [41]:
a==b

False

In [42]:
a!=b

True

# concateenating text string

In [47]:
first_name='ayesha'
last_name='gul'
print(first_name+"   "+last_name)

ayesha   gul

In [48]:
len(first_name)

6

In [49]:
len(first_name+""+last_name)

9

In [50]:
print('abc'+'123')

abc123

In [51]:
a= 10
type(a)

int

In [52]:
str(a)

'10'

In [53]:
print("the number is "+str(a))

the number is 10

In [54]:
name='ayesha'
age=25
print(" my name is ayesha and my age is 25")

 my name is ayesha and my age is 25

In [56]:
print("my name is " + name +" and my age is "+str(age))

my name is ayesha and my age is 25

# format

In [59]:
name='gul'
age=25
print('my name {} and my age is {}.'.format (name,age))

my name gul and my age is 25.