In [ ]:
table of 2

In [12]:
for a in range(1,11):
    print("{} x {} = {}".format(2,a,a*2))

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [13]:
for b in range(1,11):
    print("{} x {} = {}".format(3,b,b*3))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [14]:
for c in range(1,11):
    print("{} x {} = {}".format(4,c,c*4))

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [19]:
for d in range(1,11):
     print("{} x {} = {}".format(5,d,d*5))

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [22]:
for e in range(1,11):
    print("{} x {} = {}".format(6,e,e*6))

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [21]:
for f in range(1,11):
     print("{} x {} = {}".format(7,f,f*7))

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [30]:
for g in range(1,8):
    for h in range(1,11):
        print("{} x {} = {}".format(g,h,h*g))

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [41]:
my_num = [1,3,5,7,9,11]
for i in my_num:
        print(i)

1
3
5
7
9
11

In [40]:
my_num = [ 1,2,3,4,5,6,7,8,9,0]
for i in my_num:
    print(i)

1
2
3
4
5
6
7
8
9
0

In [42]:
my_num = [2, 4, 5, 8, 10]
my_new_list = []
for i in my_num:
    my_new_list.append(i*2)
print(my_new_list)

[4, 8, 10, 16, 20]

In [43]:
for i in range(5):
    print(i)
    if i ==5:
        print(i*2)

0
1
2
3
4

In [44]:
for b in range(7):
    print(b)
    if b ==7:
        print(b*7)

0
1
2
3
4
5
6

In [46]:
for b in range(7):
    print(b)

0
1
2
3
4
5
6

In [ ]:
break
continue
pass

In [65]:
for g in range(6,7,8):
       if g == 9:
        break
print(g)

6

In [64]:
for i in range(10):
    if i == 2:
         continue 
    print(i)

0
1
3
4
5
6
7
8
9

In [66]:
for i in range(5):
     pass

In [67]:
table= int(input("Enter a table num:")) 
for i in range(1 ,11):
    print(f"{table} x {i} = {table * i}")

Enter a table num:23
23 x 1 = 23
23 x 2 = 46
23 x 3 = 69
23 x 4 = 92
23 x 5 = 115
23 x 6 = 138
23 x 7 = 161
23 x 8 = 184
23 x 9 = 207
23 x 10 = 230

In [75]:
table= int(input("Enter a table num:"))
for i in range(1,11):
     print(f"{table} x {i} = {table * i }")

Enter a table num:24
24 x 1 = 24
24 x 2 = 48
24 x 3 = 72
24 x 4 = 96
24 x 5 = 120
24 x 6 = 144
24 x 7 = 168
24 x 8 = 192
24 x 9 = 216
24 x 10 = 240

In [82]:
for i in "Ayesha zebi":
    for j in range(5):
        print(i,j)

A 0
A 1
A 2
A 3
A 4
y 0
y 1
y 2
y 3
y 4
e 0
e 1
e 2
e 3
e 4
s 0
s 1
s 2
s 3
s 4
h 0
h 1
h 2
h 3
h 4
a 0
a 1
a 2
a 3
a 4
  0
  1
  2
  3
  4
z 0
z 1
z 2
z 3
z 4
e 0
e 1
e 2
e 3
e 4
b 0
b 1
b 2
b 3
b 4
i 0
i 1
i 2
i 3
i 4

In [83]:
for a in range(1,11):
    print("{} x {} = {}".format(2,a,a*2))

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [100]:
for a in range(1,4):
      for b  in range(1,11):
            print("{} x {} = {}".format(a,b,a*b))

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [130]:
#table 2,3 and 4
print("Assignment-Column wise Table 2, 3 and")
for y in range(1,11):
    for x in range(2,5):
        print("{} x {} = {}".format(x,y,x*y),end="\t\t\t\t")
    print("\n")

Assignment-Column wise Table 2, 3 and
2 x 1 = 2				3 x 1 = 3				4 x 1 = 4

2 x 2 = 4				3 x 2 = 6				4 x 2 = 8

2 x 3 = 6				3 x 3 = 9				4 x 3 = 12

2 x 4 = 8				3 x 4 = 12				4 x 4 = 16

2 x 5 = 10				3 x 5 = 15				4 x 5 = 20

2 x 6 = 12				3 x 6 = 18				4 x 6 = 24

2 x 7 = 14				3 x 7 = 21				4 x 7 = 28

2 x 8 = 16				3 x 8 = 24				4 x 8 = 32

2 x 9 = 18				3 x 9 = 27				4 x 9 = 36

2 x 10 = 20				3 x 10 = 30				4 x 10 = 40

In [1]:
#print those number who divided by 7,50,500,1500:
for i in range(1,10000):
    if i%7==0 and i%50==0 and i%500==0 and i%1500==0:
        print(i)

In [4]:
print("assignment-column wise table 3, 4 and")
for y in range(1,11):
    for x in range(2,5):
        print("{} x {} = {}".format(x,y,x*y),end="\t\t\t\t")
print("\n")

assignment-column wise table 3, 4 and
2 x 1 = 2				3 x 1 = 3				4 x 1 = 4				2 x 2 = 4				3 x 2 = 6				4 x 2 = 8				2 x 3 = 6				3 x 3 = 9				4 x 3 = 12				2 x 4 = 8				3 x 4 = 12				4 x 4 = 16				2 x 5 = 10				3 x 5 = 15				4 x 5 = 20				2 x 6 = 12				3 x 6 = 18				4 x 6 = 24				2 x 7 = 14				3 x 7 = 21				4 x 7 = 28				2 x 8 = 16				3 x 8 = 24				4 x 8 = 32				2 x 9 = 18				3 x 9 = 27				4 x 9 = 36				2 x 10 = 20				3 x 10 = 30				4 x 10 = 40

In [24]:
print("assignment-column wise table 4, 5 and")
for y in range(1,11):
    for x in range(2,5):
        print("{} x {} = {}".format(x,y,x*y),end="\t\t\t\t")
print("\n")

assignment-column wise table 4, 5 and
2 x 1 = 2				3 x 1 = 3				4 x 1 = 4				2 x 2 = 4				3 x 2 = 6				4 x 2 = 8				2 x 3 = 6				3 x 3 = 9				4 x 3 = 12				2 x 4 = 8				3 x 4 = 12				4 x 4 = 16				2 x 5 = 10				3 x 5 = 15				4 x 5 = 20				2 x 6 = 12				3 x 6 = 18				4 x 6 = 24				2 x 7 = 14				3 x 7 = 21				4 x 7 = 28				2 x 8 = 16				3 x 8 = 24				4 x 8 = 32				2 x 9 = 18				3 x 9 = 27				4 x 9 = 36				2 x 10 = 20				3 x 10 = 30				4 x 10 = 40

In [28]:
print("assignment-column wise table 4,5 and")
for a in range(1,11):
    for x in range(2,5):
        print("{} x {} = {}".format(a,x,a*x),end="\t\t\t\t")
print("\n")

assignment-column wise table 4,5 and
1 x 2 = 2				1 x 3 = 3				1 x 4 = 4				2 x 2 = 4				2 x 3 = 6				2 x 4 = 8				3 x 2 = 6				3 x 3 = 9				3 x 4 = 12				4 x 2 = 8				4 x 3 = 12				4 x 4 = 16				5 x 2 = 10				5 x 3 = 15				5 x 4 = 20				6 x 2 = 12				6 x 3 = 18				6 x 4 = 24				7 x 2 = 14				7 x 3 = 21				7 x 4 = 28				8 x 2 = 16				8 x 3 = 24				8 x 4 = 32				9 x 2 = 18				9 x 3 = 27				9 x 4 = 36				10 x 2 = 20				10 x 3 = 30				10 x 4 = 40