# practise

In [ ]:
dictinory

In [4]:
city = {1:"karachi", 2:"multan", 3:"lahore"}
print(city)

{1: 'karachi', 2: 'multan', 3: 'lahore'}

In [18]:
students_name = {1:"gul", 2:"zebi", 3:"ayaz"}
print(students_name)

{1: 'gul', 2: 'zebi', 3: 'ayaz'}

In [19]:
students_cnic = {1:3455667, 2:9876888, 3:6756545}
print(students_cnic)

{1: 3455667, 2: 9876888, 3: 6756545}

In [43]:
person = {
    "first_name": "Ayesha",
    "last_name": "gul",
    "age": 23,
    "city": "Karachi"
}

print("First Name: " + person["first_name"])
print("Last Name: " + person["last_name"])
print("Age: " + str(person["age"]))
print("City: " + person["city"])

First Name: Ayesha
Last Name: gul
Age: 23
City: Karachi

In [48]:
infro = {
    "first_name": "ayesha",
    "last_name": "khan",
    "age": 23,
    "city": "karachi"
}

print("First_Name: " + infro["first_name"])
print("Last_Name: " + infro["last_name"])
print("Age: " + str(infro["age"]))
print("City: " + infro["city"])

First_Name: ayesha
Last_Name: khan
Age: 23
City: karachi

In [38]:
person = {
    "first_name": "Ayesha",
    "last_name": "gul",
    "age": 23,
    "city": "Karachi"
}

print("First Name: " + person["first_name"])
print("Last Name: " + person["last_name"])
print("Age: " + str(person["age"]))
print("City: " + person["city"])

First Name: Ayesha
Last Name: gul
Age: 23
City: Karachi

In [71]:
sums = {
    
    "first_number": 1223456778,
    "age": 36,
}
print("First_Number : " + str(sums["first_number"]))
print("Age : " + str(sums["age"]))

First_Number : 1223456778
Age : 36

In [72]:
info = {
    "cnic": 567789900,
     "roll_no": 67888765,
    "batch_no": 9877654,
    
}

In [84]:
print(info)

{'cnic': 567789900, 'roll_no': 67888765, 'batch_no': 9877654}

In [90]:
info.items()

dict_items([('cnic', 567789900), ('roll_no', 67888765), ('batch_no', 9877654)])

In [92]:
info.keys()

dict_keys(['cnic', 'roll_no', 'batch_no'])

In [93]:
info.values()

dict_values([567789900, 67888765, 9877654])

In [6]:
intro = {
    "first_name": "Ayesha gul",
    "education": "B.A",
    "age": 43,
    "city": "karachi"
    
}
print("First_Name:" + intro["first_name"])
print("Education :" + intro["education"])
print("Age : "+ str(intro["age"]))
print("city : " + intro["city"])

First_Name:Ayesha gul
Education :B.A
Age : 43
city : karachi

AttributeError: 'dict' object has no attribute 'key'