In [1]:
print("hellow")

hellow

In [2]:
a = 14

In [4]:
a,b = 10,10
a

10

In [6]:
ab=10

In [7]:
a_b = 10

In [ ]:
#string k liye variable change houn gay

In [9]:
a = "string"

In [ ]:
#operators

In [10]:
10-2

8

In [11]:
5/2

2.5

In [12]:
4/2  float answer

2.0

In [13]:
4//2

2

In [14]:
1//3

0

In [ ]:
#python me pemdas use hota hay

In [15]:
(3**2 + 2)*2

22

In [16]:
3*2**(2+3)-6

90

In [17]:
15%2

1

In [ ]:
#string concatenate
#string me hum intiger ko add krsakty hein

In [22]:
a = "ayesha"
b = 10
print("my name is {0} and my age is {1}".format(a,b))

my name is ayesha and my age is 10

In [29]:
a = 0.34
b = 0.33
print("{:.1} {:.1}".format(a,b))

0.3 0.3

In [ ]:
#format ka method string k sath sath float par b use hosakta hay

In [ ]:
#if statement condition par kam krti hay
< 
> 
=
!=

In [31]:
x = 10
y = 10
a = 3
b = 4
if x == y or a == b:
    print("x=y")
else:
    print("x not equal y")

x=y

In [32]:
x = 10
y = 10
a = 3
b = 4
if x == y and a == b:
    print("x=y")
else:
    print("x not equal y")

x not equal y

In [ ]:
or  =!   
and ==

In [34]:
x = 10
y = 10
a = 3
b = 4
if not x == y and not a == b:
    print("x=y")
else:
    print("x not equal y")

x not equal y

In [ ]:
# agr expression true hay tou false krdy ga or agr false hay tou true karday ga "and not"

In [35]:
x = 10
a = 3
b = 4
y = 10
if not x == y or not a == b:
    print("x=y")
else:
    print("x not equal y")

x=y

In [38]:
x = 10
y = 10
a = 3
b = 4
if not (x == y) or not (a <= b):
    print("x=y")
else:
    print("x not equal y")

x not equal y

In [45]:
x = 10
y = 10
a = 3
b = 4
if  x == y or a == b:
    print("x=y")
elif a!= b:
    print("x not equal y")
else:
    print("hi")

x=y

In [ ]:
# comment
# 
''''''

In [ ]:
# dictionar

In [ ]:
adic = { key:value}

In [ ]:
aDic = {"name" : "ayesha" , age:[1,4,7,9,9,], "address"}
        :(12,4,5,7), "course": {2,5,6:32}}

In [54]:
a = [{}, {}, {}, {}]

In [55]:
len(a)

4

In [ ]:
a =

### slicing

In [ ]:
# index 1,2,3,4,5,6,7,8,9
# slicing = [22,45,78,90,12,45,78,90]
             -8 -7 -6 -5 -4 -3 -2 -1

In [57]:
slicing = [22,45,78,90,12,45,78,90]
slicing[:5]

[22, 45, 78, 90, 12]

In [58]:
slicing[2:6]

[78, 90, 12, 45]

In [59]:
slicing[::2]

[22, 78, 12, 78]