In [1]:
cities = ['karachi', 'lahore', 'islamabad', 'quetta']

In [2]:
cities.append('Multan')
cities

['karachi', 'lahore', 'islamabad', 'quetta', 'karachi']

In [ ]:
The append() method appends an element to the end of the list.

In [1]:
numbers = ['1234556', '5677889', '56576889']

In [3]:
numbers.append('4321432')
numbers

['1234556', '5677889', '56576889', '4321432']

In [5]:
a = ["apple", "banana", "cherry"]
b = ["Ford", "BMW", "Volvo"]
a.append(b)

In [6]:
print(a)

['apple', 'banana', 'cherry', ['Ford', 'BMW', 'Volvo']]

In [ ]:
The sort() method sorts the items of an array.

The sort order can be either alphabetic or numeric, and either ascending (up) or descending (down).

By default, the sort() method sorts the values as strings in alphabetical and ascending order.

This works well for strings ("Apple" comes before "Banana"). However, if numbers are sorted as strings, "25" is bigger than "100", because "2" is bigger than "1".

Because of this, the sort() method will produce an incorrect result when sorting numbers.

You can fix this by providing a "compare function" (See "Parameter Values" below).

Note: This method changes the original array.

In [ ]:
Optional. A function that defines an alternative sort order. The function should return a negative, zero, or positive value, depending on the arguments, like:
function(a, b){return a-b}
When the sort() method compares two values, it sends the values to the compare function, and sorts the values according to the returned (negative, zero, positive) value.

Example:

When comparing 40 and 100, the sort() method calls the compare function(40,100).

The function calculates 40-100, and returns -60 (a negative value).

The sort function will sort 40 as a value lower than 100.

In [10]:
points = [40, 100, 1, 5, 25, 10]

In [13]:
points.sort()
points

[1, 5, 10, 25, 40, 100]

In [26]:
points.append(123)
points

[1, 5, 10, 25, 40, 100, 2, 123]

In [27]:
points.sort()
points

[1, 2, 5, 10, 25, 40, 100, 123]

In [43]:
points.copy()
points

[1, 2, 5, 10, 25, 40, 100, 123]

In [46]:
list2 = points
list2

[1, 2, 5, 25, 40, 100, 123]

In [47]:
del points[4]
list2

[1, 2, 5, 25, 100, 123]

# passed by value

In [6]:
marks = [46, 45, 66, 89, 99]

In [7]:
marks.sort()
marks

[45, 46, 66, 89, 99]

In [9]:
list2 = marks
list2

[45, 46, 66, 89, 99]

In [10]:
del marks[2]
list2

[45, 46, 89, 99]

In [11]:
list3 = list2.copy()

In [12]:
list3

[45, 46, 89, 99]

In [13]:
list2.append(499)
list3

[45, 46, 89, 99]

In [14]:
list2

[45, 46, 89, 99, 499]

In [15]:
list2.reverse()
list2

[499, 99, 89, 46, 45]

In [16]:
list2.clear()
list2

[]

In [ ]:
The pop() method removes the last element of an array, and returns that element.

# pop

In [42]:
numbers = [29, 67, 45, 3, 89, 90]

In [43]:
x = numbers.pop()
print(x)
print(numbers)

90
[29, 67, 45, 3, 89]

In [48]:
numbers = [29, 67, 45, 3, 89, 90]

In [49]:
x = numbers.pop()
print(x)
print(numbers)

90
[29, 67, 45, 3, 89]

In [25]:
x

29

In [26]:
numbers = [29, 67, 45, 3, 89, 90]

In [27]:
x = []

In [28]:
poppedlist = []

In [30]:
poppedElement = numbers.pop()
poppedlist.append(poppedElement)
print(numbers)
print(poppedlist)

[29, 67, 45, 3]
[90, 89]

In [57]:
numbers = [29, 67, 45, 3, 89, 90 ,34, 43]

In [58]:
x = [32]

In [59]:
poppedlist = []

In [60]:
poppedElement = numbers.pop()
poppedlist.append(poppedElement)
print(numbers)
print(poppedlist)

[29, 67, 45, 3, 89, 90, 34]
[43]

In [52]:
fruits = ["Banana", "Orange", "Apple", "Mango"];
x = fruits.pop()
print(x)
print(fruits)

Mango
['Banana', 'Orange', 'Apple']

In [53]:
if len(numbers) != 0:
    poppedlist.append(numbers.pop())
    print(poppedlist)
else:
     print('Your list is Empty')

Your list is Empty

In [49]:
list3 = [46, 89, 26, 3, 90]

# list in list

In [55]:
list4 = [19, 89,['apple', 'banana', 'orange']]

list4

[19, 89, ['apple', 'banana', 'orange']]

In [56]:
list4[2][2]

'orange'

# slicing

In [60]:
students = ('ali', '344', ' hussain', 'karachi')

In [61]:
students

('ali', '344', ' hussain', 'karachi')

In [63]:
fruits = ['apple', 'banana', 'orange']

In [64]:
fruits

['apple', 'banana', 'orange']

In [65]:
abc = [19, 89, 3, students, fruits, 'abcd']
abc

[19,
 89,
 3,
 ('ali', '344', ' hussain', 'karachi'),
 ['apple', 'banana', 'orange'],
 'abcd']

In [ ]:
abc value me apple ko by value abc sy remove karna  hay

In [66]:
abc[4].remove('apple')
abc

[19,
 89,
 3,
 ('ali', '344', ' hussain', 'karachi'),
 ['banana', 'orange'],
 'abcd']

In [81]:
del abc[3][3]
abc

TypeError: 'tuple' object doesn't support item deletion

In [82]:
#index     -6  -5  -4  -3  -2  -1
numbers = [29, 67, 45, 3, 89, 90]
#index      0   1   2   3   4   5

In [83]:
numbers

[29, 67, 45, 89, 90]

In [84]:
numbers[-5]

29

In [85]:
numbers[-4]

67

In [86]:
numbers[1:5:2]

[67, 89]

In [87]:
print(numbers)

[29, 67, 45, 89, 90]

In [88]:
numbers = [29, 33, 54, 67, 89, 23, 99, 76, 90, 4]

In [89]:
print(numbers)
numbers[1:10:2]

[29, 33, 54, 67, 89, 23, 99, 76, 90, 4]

[33, 67, 23, 76, 4]

In [90]:
numbers = [29, 33, 54, 67, 89, 23, 99, 76, 90, 4]

In [91]:
print(numbers)
numbers[1:10:3]

[29, 33, 54, 67, 89, 23, 99, 76, 90, 4]

[33, 89, 76]

In [92]:
numbers = [29, 33, 54, 67, 89, 23, 99, 76, 90, 4]

In [93]:
numbers[:7]

[29, 33, 54, 67, 89, 23, 99]

In [96]:
numbers = [29, 33, 54, 67, 89, 23, 99, 76, 90, 4]

In [98]:
numbers[:3]

[29, 33, 54]

In [99]:
numbers = [29, 33, 54, 67, 89, 23, 99, 76, 90, 4]

In [100]:
numbers[7:3]

[]

In [ ]:
slicing ki direction left to write hay

In [101]:
print(numbers)
numbers[-5:-1]

[29, 33, 54, 67, 89, 23, 99, 76, 90, 4]

[23, 99, 76, 90]

In [102]:
print(numbers)
numbers[-1:-8:-1]

[29, 33, 54, 67, 89, 23, 99, 76, 90, 4]

[4, 90, 76, 99, 23, 89, 67]

In [103]:
print(numbers)
numbers[-1:-9:-1]

[29, 33, 54, 67, 89, 23, 99, 76, 90, 4]

[4, 90, 76, 99, 23, 89, 67, 54]

In [104]:
numbers[::3]

[29, 67, 99, 4]

In [105]:
numbers[::4]

[29, 89, 90]

# sorting

In [35]:
cities = ['karachi', 'lahore', 'islamabad', 'quetta']

In [8]:
cities.sort()
cities

['islamabad', 'karachi', 'karachi', 'lahore', 'quetta']